%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h2
          IT Way - форум перспектив будущего ИТ-специалиста
        %hr.colored/
    .row.text-center.content-row
      .col-md-4.col-sm-6.wow.fadeIn{ 'data-wow-delay' => '.5s' }
        .about-content
          %i.fa.fa-code.fa-4x
          %h3
            Программирование
          %p
            Занимаешься программирование, молодец! Тебе сюда!
          %p
            = link_to t('.send_request'), '#', class: 'btn btn-branded form_show', data: { target: :programmer }
          %p
            = render 'programmer_form'
      .col-md-4.col-sm-6.wow.fadeIn{ 'data-wow-delay' => '1s' }
        .about-content
          %i.fa.fa-paint-brush.fa-4x
          %h3
            Дизайн
          %p
            Занимаешься программирование, молодец! Тебе сюда!
          %p
            = link_to t('.send_request'), '#', class: 'btn btn-branded form_show', data: { target: :designer }
          %p
            = render 'designer_form'
      .col-md-4.col-sm-6.wow.fadeIn{ 'data-wow-delay' => '1.5s' }
        .about-content
          %i.fa.fa-gears.fa-4x
          %h3
            Железо
          %p
            Занимаешься программирование, молодец! Тебе сюда!
          %p
            = link_to t('.send_request'), '#', class: 'btn btn-branded form_show', data: { target: :circuitry }
          %p
            = render 'circuitry_form'
