%section#blogs
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h1
          = block.title
        %p
          = block.text
        %hr.colored/
    .row.text-center.content-row
      - @blogs.each_with_index do |blog, index|
        .col-md-3.col-sm-6.wow.fadeIn{'data-wow-delay' => ".#{(index + 1) * 2}s"}
          .about-content.blog
            = link_to blog_path(blog) do
              %h3
                = blog.title
              %p
                = raw blog.lead
