%footer.footer
  .container.text-center
    .row.social
      .col-md-2.col-md-offset-3
        %a{ href: 'http://ulmic.ru', target: '_blank' }
          = image_tag 'logo-mic-square.png'
      .col-md-2
        %a{ href: 'http://ulstu.ru', target: '_blank' }
          = image_tag 'logo-ulstu.png'
      .col-md-2
        %a{ href: 'http://юнпресс.рф', target: '_blank' }
          = image_tag 'logo-unpress.png'
    .row.copyright
      .col-lg-12
        %p.small{ style: 'color: #000' }
          &copy
          = copyright_notice_year_range 2015
          &nbsp
          = link_to 'Молодёжный инициативный центр', 'http://ulmic.ru', target: '_blank'
