= javascript_include_tag 'web/welcome'
= stylesheet_link_tag 'web/welcome'
%header#top.header{ style: "background-image: url('assets/headers/#{rand(4) + 1}.jpg')"}
  .text-vertical-center
    %h1
      II форум перспектив будущего ИТ-специалиста
    = image_tag 'logo.svg'
    %br
    %h2
      31 сентября - 4 августа 2016 года
    %h2
      ДООЦ "Юность"
      %br
    %hr
    %a.btn.btn-dark.btn-lg{href: "#request"}
      Подать заявку
    -#%h2
      = link_to 'http://vk.com/it_way', class: 'sn vk' do
        = fa_icon 'vk 5x'
      = link_to 'http://twitter.com/developerslogs', class: 'sn twitter' do
        = fa_icon 'twitter 5x'
%section#request.request
  .row
    .col-md-offset-2.col-md-8
      %h2.text-center Заявка
      = simple_form_for @user_form, url: api_users_path, method: :post, remote: true, input_html: { class: 'form-horizontal' } do |f|
        = f.input :last_name, as: :string
        = f.input :first_name, as: :string
        = f.input :patronymic, as: :string
        = f.input :birth_date, as: :date_picker
        = f.input :email, as: :string, required: true
        = f.input :phone, as: :string
        = f.input :region, collection: RussiaRegions.name_list
        = f.input :locality, as: :string
        = f.input :school, as: :string
        = f.input :activity_line
        = f.input :experience, as: :string
        = f.input :reason, as: :string
        = f.input :has_i_note, as: :string
        = f.button :submit, "ПОДАТЬ ЗАЯВКУ", class: 'text-center btn btn-dark btn-lg'
