= javascript_include_tag 'web/welcome'
= stylesheet_link_tag 'web/welcome'
%header#top.header{ style: "background-image: url('assets/headers/#{rand(4) + 1}.jpg')"}
  .text-vertical-left
    .row{style: "margin-right: 0px"}
      .col-md-3
        = image_tag 'logo.png', class: :logo
      .col-md-9
        .text-vertical-right.title
          %h1
            II форум перспектив будущего ИТ-специалиста
          %br
  .text-vertical-center.dates{ style: 'width: 100%' }
    %h2
      31 августа - 4 сентября 2016 года
    %h2
      ДООЦ "Юность"
      %br
    %hr
    %a.btn.btn-dark.btn-lg.scroll{ href: "#request", data: { id: :form } }
      Подать заявку
= render 'activity_lines'
= render 'form'
= render 'price'
= render 'programming'
= render 'design'
= render 'steel'
= render 'portfolio'
= render 'footer'
