= javascript_include_tag 'web/welcome'
= stylesheet_link_tag 'web/welcome'
%header#top.header
  .text-vertical-center
    %h1
      II форум перспектив будущего ИТ-специалиста
    = image_tag 'logo.svg'
    %br
    %h2
      31 сентября - 4 августа 2016 года
    %h2
      ДООЦ "Юность"
      %br
      = link_to 'http://vk.com/it_way', class: 'sn vk' do
        = fa_icon 'vk 5x'
      = link_to 'http://twitter.com/developerslogs', class: 'sn twitter' do
        = fa_icon 'twitter 5x'

    %a.btn.btn-dark.btn-lg{href: "#about"}
      Подать заявку
.row
  .col-md-offset-2.col-md-8.link{ data: { href: 'http://ulmic.ru/events/140' }}
    %h4
      Прямая трансляция
    = image_tag 'http://ulmic.ru/system/uploads/event/main_photo/140/favicon.png', width: '100%'
