= javascript_include_tag 'js/plugins/jquery.easing.min.js'
= javascript_include_tag 'js/plugins/classie.js'
= javascript_include_tag 'js/plugins/cbpAnimatedHeader.js'
= javascript_include_tag 'js/plugins/owl-carousel/owl.carousel.js'
= javascript_include_tag 'js/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js'
= javascript_include_tag 'js/plugins/jquery.fs.wallpaper.js'
= javascript_include_tag 'js/plugins/jquery.mixitup.js'
= javascript_include_tag 'js/plugins/wow/wow.min.js'
= javascript_include_tag 'js/contact_me.js'
= javascript_include_tag 'js/plugins/jqBootstrapValidation.js'
= javascript_include_tag 'js/vitality.js'
= javascript_include_tag 'demo/style.switcher.js'
