%head
  %meta{ charset: 'utf-8' }
  %meta{ content: 'width=device-width, initial-scale=1.0, user-scalable=no', name: 'viewport' }
  %meta{ content: '', name: 'description' }
  %meta{ content: '', name: 'author' }
  %title
    = t('company.name')
  = javascript_include_tag 'application'
  = stylesheet_link_tag :application
  = stylesheet_link_tag 'style'
  = javascript_include_tag 'js/plugins/retina/retina.min.js'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat:400,700', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cardo:400,400italic,700', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Sanchez:400italic,400', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cardo:400,400italic,700', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'css/plugins/owl-carousel/owl.carousel.css', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'css/plugins/owl-carousel/owl.theme.css', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'css/plugins/owl-carousel/owl.transitions.css', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'css/plugins/magnific-popup.css', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'css/plugins/jquery.fs.wallpaper.css', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'css/plugins/animate.css', rel: 'stylesheet', type: 'text/css'
  = stylesheet_link_tag 'css/vitality-orange.css', id: 'changeable-colors', rel: 'stylesheet'
  = stylesheet_link_tag 'demo/style-switcher.css', rel: 'stylesheet'
  = favicon_link_tag 'favicon.ico'
  = csrf_meta_tags
