%html
  = render 'layouts/web/shared/head'
  %body#page-top
    - if request.path == root_path
      = yield
      = render 'layouts/web/shared/footer'
    - else
      = render 'layouts/web/shared/navbar'
      .container
        = yield
