%html
  = render 'layouts/web/shared/head'
  %body#page
    .mainpage-social
      .social-icon.vk
        = link_to configus.social_links.vk, target: '_blank' do
          %span.icon
            = fa_icon 'vk 3x'
            %span.label
              = render 'layouts/web/shared/social/vk_subscribe'
      .social-icon.twitter
        = link_to configus.social_links.twitter, target: '_blank' do
          %span.icon
            = fa_icon 'twitter 3x'
            %span.label
              = render 'layouts/web/shared/social/twitter_subscribe'
    - if request.path == root_path
      = yield
      = render 'layouts/web/shared/footer'
    - else
      = render 'layouts/web/shared/navbar'
      .container
        = yield
